<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.QuanLySinhVien.mapper.KhoaMapper">
    <resultMap id="khoaResultMap" type="com.example.QuanLySinhVien.entity.Khoa">
        <result property="maKhoa" column="MaKhoa"/>
        <result property="tenKhoa" column="TenKhoa"/>
        <result property="diaChi" column="DiaChi"/>
        <result property="dienThoai" column="DienThoai"/>
    </resultMap>

    <select id="getAllKhoa" resultMap="khoaResultMap">
        SELECT MaKhoa,
               TenKhoa,
               DiaChi,
               DienThoai
        FROM dbo.Khoa
    </select>

    <select id="getKhoaById" resultMap="khoaResultMap">
        SELECT MaKhoa,
               TenKhoa,
               DiaChi,
               DienThoai
        FROM dbo.Khoa
        WHERE MaKhoa = #{maKhoa}
    </select>

    <insert id="createKhoa">
        INSERT INTO dbo.Khoa(MaKhoa, TenKhoa, DiaChi, DienThoai)
        VALUES (#{maKhoa}, #{tenKhoa}, #{diaChi}, #{dienThoai})
    </insert>

    <update id="updateKhoa">
        UPDATE dbo.Khoa
        SET TenKhoa = #{tenKhoa},
            DiaChi = #{diaChi},
            DienThoai = #{dienThoai}
        WHERE MaKhoa = #{maKhoa}
    </update>

    <delete id="deleteKhoa">
        DELETE FROM dbo.Khoa
        WHERE MaKhoa = #{maKhoa}
    </delete>
</mapper>