<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.QuanLySinhVien.mapper.KhoaHocMapper">
    <resultMap id="khoaHocResultMap" type="com.example.QuanLySinhVien.entity.KhoaHoc">
        <result property="maKhoaHoc" column="MaKhoaHoc"/>
        <result property="tenKhoaHoc" column="TenKhoaHoc"/>
    </resultMap>

    <select id="getAllKhoaHoc" resultMap="khoaHocResultMap">
        SELECT MaKhoaHoc,
               TenKhoaHoc
        FROM dbo.KhoaHoc
    </select>

    <select id="getKhoaHocById" resultMap="khoaHocResultMap">
        SELECT MaKhoaHoc,
               TenKhoaHoc
        FROM dbo.KhoaHoc
        WHERE MaKhoaHoc = #{maKhoaHoc}
    </select>

    <insert id="createKhoaHoc">
        INSERT INTO dbo.KhoaHoc(MaKhoaHoc, TenKhoaHoc)
        VALUES (#{makhocHoc}, #{tenKhoaHoc})
    </insert>

    <update id="updateKhoaHoc">
        UPDATE dbo.KhoaHoc
        SET TenKhoaHoc = #{tenKhoaHoc}
        WHERE MaKhoaHoc = #{maKhoaHoc}
    </update>

    <delete id="deleteKhoaHoc">
        DELETE FROM dbo.KhoaHoc
        WHERE MaKhoaHoc = #{maKhoaHoc}
    </delete>

</mapper>