<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.QuanLySinhVien.mapper.LopMapper">
    <resultMap id="lopResultMap" type="com.example.QuanLySinhVien.entity.Lop">
        <result property="maLop" column="MaLop"/>
        <result property="tenLop" column="TenLop"/>
        <result property="maKhoa" column="MaKhoa"/>
        <result property="maHeDT" column="MaHeDT"/>
        <result property="maKhoaHoc" column="MaKhoaHoc"/>
    </resultMap>

    <select id="getAllLop" resultMap="lopResultMap">
        SELECT MaLop,
               TenLop,
               MaKhoa,
               MaHeDT,
               MaKhoaHoc
        FROM dbo.Lop
    </select>

    <select id="getLopById" resultMap="lopResultMap">
        SELECT MaLop,
               TenLop,
               MaKhoa,
               MaHeDT,
               MaKhoaHoc
        FROM dbo.Lop
        WHERE MaLop = @{maLop}
    </select>

    <insert id="createLop">
        INSERT INTO dbo.Lop (MaLop, TenLop, MaKhoa, MaHeDT, MaKhoaHoc)
        VALUES (#{maLop}, #{tenLop}, #{maKhoa}, #{maHeDT}, #{maKhoaHoc})
    </insert>

    <update id="updateLop">
        UPDATE dbo.Lop
        SET TenLop = #{tenLop},
            MaKhoa = #{maKhoa},
            MaHeDT = #{maHeDT},
            MaKhoaHoc = #{maKhoaHoc}
        WHERE MaLop = #{maLop}
    </update>

    <delete id="deleteLop">
        DELETE FROM dbo.Lop
        WHERE MaLop = #{maLop}
    </delete>

</mapper>