<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.QuanLySinhVien.mapper.MonHocMapper">
    <resultMap id="monHocResultMap" type="com.example.QuanLySinhVien.entity.MonHoc">
        <result property="maMonHoc" column="MaMH"/>
        <result property="tenMonHoc" column="TenMH"/>
        <result property="soTinChi" column="SoTC"/>
    </resultMap>

    <select id="getAllMonHoc" resultMap="monHocResultMap">
        SELECT MaMH,
               TenMH,
               SoTC
        FROM dbo.MonHoc
    </select>

    <select id="getMonHocById" resultMap="monHocResultMap">
        SELECT MaMH,
               TenMH,
               SoTC
        FROM dbo.MonHoc
        WHERE MaMH = #{maMonHoc}
    </select>

    <insert id="createMonHoc">
        INSERT INTO dbo.MonHoc (MaMH, TenMH, SoTC) VALUES (#{maMonHoc}, #{tenMonHoc}, #{soTinChi});
    </insert>

    <update id="updateMonHoc">
        UPDATE dbo.MonHoc
        SET TenMH = #{tenMonHoc},
            SoTC = #{soTinChi}
        WHERE MaMH = #{maMonHoc}
    </update>

    <delete id="deleteMonHoc">
        DELETE FROM dbo.MonHoc
        WHERE MaMH = #{maMonHoc}
    </delete>

</mapper>